.form-cover{
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

input{
    width: 270px;
    height: 36px;
    padding: 8px;
    border: 1px solid rgb(219, 219, 219);
    margin-bottom: 5px;
    border-radius: 2px;
}

.submit{
    margin-top: 3px;
    border-radius: 6px;
    background-color: #3578E5;
    color: white;
    font-weight: 500;
}
.submit:hover{
    background-color: #5F8FFF;
    cursor: pointer;

}